<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4ea6c4d3d9.js" crossorigin="anonymous"></script>
    <title>Express-Authentication(passport-local)</title>
    <link href="../css/style.css" rel="stylesheet" />
</head>